.shopping-list-menu {
  position: fixed;
  background-color: var(--color-BG-section-dark-w-opacity);
  height: 100vh;
  width: 340px;
  padding: 2rem;
  top: 6rem;
  right: 0px;
  display: flex;
  flex-direction: column;
  align-items: center;
  overflow-y: scroll;
  overflow-x: hidden;
  transition: 0.5s;
  z-index: 995;
  transform: translateX(100%);
}

span.shopping-icon.hasElement.open + .shopping-list-menu {
  transform: translateX(0);
}

.shopping-list-menu .delete-all-btn {
  background-color: var(--color-primary);
  color: var(--color-text-primary-light);
  padding: 0.5rem 1.6rem;
  font-size: 1.6rem;
}
.shopping-list-menu .delete-all-btn:hover {
  background-color: var(--color-primary-alt);
}
