.shopping-list-menu {
  position: fixed;
  background-color: var(--color-BG-section-dark-w-opacity);
  height: calc(100vh - 6rem);
  width: 340px;
  padding: 2rem;
  top: 6rem;
  right: 0px;
  display: flex;
  flex-direction: column;
  align-items: center;
  overflow-y: scroll;
  overflow-x: hidden;
  transition: 0.5s;
  z-index: 995;
  transform: translateX(100%);
}

@media (max-width: 400px) {
  .shopping-list-menu {
    width: 100%;
  }
}

.shopping-list-menu p,
.shopping-item-cont .text-box .CRT-Item .Number-Of-Cars {
  color: var(--color-third);
}
.shopping-list-menu p.msg {
  color: var(--color-text-primary-light);
  font-family: var(--Font-Family-Secondary);
  font-size: 1.6rem;
  font-weight: 700;
}

span.shopping-icon.open + .shopping-list-menu {
  transform: translateX(0);
}

.shopping-list-menu .delete-all-btn {
  background-color: var(--color-primary);
  color: var(--color-text-primary-light);
  padding: 0.5rem 1.6rem;
  font-size: 1.6rem;
}
.shopping-list-menu .delete-all-btn:hover {
  background-color: var(--color-primary-alt);
}
