.Testimonials {
  background-color: var(--color-BG-section-dark);
  padding: 10rem 0;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

.Testimonials .section-heading .main-heading {
  font-size: 12.8rem;
}

@media (max-width: 1000px) {
  .Testimonials .section-heading .main-heading {
    font-size: 6.4rem;
  }
  .Testimonials .section-heading .sub-heading {
    font-size: 2.8rem;
  }
}

@media (max-width: 380px) {
  .Testimonials .section-heading .main-heading {
    font-size: 5rem;
  }

  .Testimonials .section-heading .sub-heading {
    font-size: 4rem !important;
    margin-top: -4rem !important;
  }
}

.Testimonials .section-heading .sub-heading {
  font-size: 5.6rem;
}

.Testimonials-Slider {
  width: 100%;
  display: flex;
  justify-content: center;
}

.Testimonials .Testimonials-Card {
  width: 70%;
  font-family: var(--Font-Family-Secondary);
  background-color: var(--color-text-primary-light);
  color: var(--color-third);
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;
  padding: 2.5rem;
  margin-top: 5rem;
  position: relative;
}

.Testimonials .Testimonials-Card::after {
  position: absolute;
  content: "";
  background-image: url(./../../assets/testimonials-cars/Testimonials-Car-01.png);
  background-repeat: no-repeat;
  background-size: contain;
  width: 342px;
  height: 230px;
  bottom: -80px;
  right: -150px;
}

@media (max-width: 1000px) {
  .Testimonials .Testimonials-Card::after {
    width: 171px;
    height: 115px;
    bottom: -40px;
    right: -60px;
  }
}

@media (max-width: 500px) {
  .Testimonials .Testimonials-Card::after {
    width: 128.25px;
    height: 86.25px;
    right: -40px;
  }
  .Testimonials .Testimonials-Card .Testimonials-Info {
    flex-direction: column;
  }
}

.Testimonials .Testimonials-Card .Testimonials-Description {
  width: 80%;
  text-align: center;
  line-height: 1.6;
  font-style: italic;
  margin-bottom: 0;
}

.Testimonials .Testimonials-Card .Rating-Cont {
  margin: 2.5rem 0;
}

.Testimonials .Testimonials-Card .Testimonials-Info {
  width: 32.5rem;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.Testimonials .Testimonials-Card .Testimonials-Info .Testimonials-City {
  opacity: 0.5;
}
