#Services {
  min-height: 810px;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;
  background-image: url(../../assets/Services-BG.png);
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  background-color: var(--color-BG-section-light);
  text-align: center;
}

#Services .services-boxes {
  display: flex;
  justify-content: space-around;
  align-items: center;
  flex-wrap: wrap;
  color: var(--color-third);
}
#Services .service-box {
  width: 35rem;
}

#Services .service-box .service-icon {
  margin-bottom: var(--dist-padding-primary-big);
}
