#Services {
  min-height: 810px;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;
  background-image: url(../../assets/Services-BG.png);
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  background-color: var(--color-BG-section-light);
  text-align: center;
}

#Services .services-boxes {
  display: grid;
  justify-content: center;
  align-items: center;
  grid-template-columns: repeat(3, 1fr);
  grid-gap: 5rem;
  color: var(--color-third);
}

@media (max-width: 800px) {
  #Services .services-boxes {
    max-width: 300px;
    grid-template-columns: repeat(1, 1fr);
  }
}

#Services .service-box .service-icon {
  margin-bottom: var(--dist-padding-primary-big);
}
