.Hero-section {
  background: url(../../assets/Background.webp) no-repeat;
  background-position: center;
  background-size: cover;
  width: 100%;
  height: 100vh;
  padding-top: 10rem;
  display: flex;
  direction: rtl;
}

.Hero-section .text-box {
  max-width: 50%;
}

.Hero-section .text-box h2,
.Hero-section .text-box p {
  margin-bottom: 2rem;
}

.Hero-section .text-box p {
  width: 70%;
  font-size: 3.2rem;
}

@media (max-width: 1000px) {
  .Hero-section {
    justify-content: center;
  }

  .Hero-section .text-box {
    max-width: 70%;
  }

  .Hero-section .text-box {
    text-align: center;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }

  .Hero-section .text-box p {
    width: 100%;
    background-color: rgba(0, 0, 0, 0.5);
    padding: 1rem;
  }
}

@media (max-width: 500px) {
  .Hero-section .text-box {
    max-width: 100%;
  }
  .Hero-section .text-box h2 {
    font-size: 3.1rem;
  }
}
