header {
  width: 100%;
  height: 6rem;
  background-color: var(--color-text-primary-light);
  color: var(--color-third);
  position: fixed;
  z-index: 999;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0 5%;
  backdrop-filter: blur(12px);
}

.logo {
  font-size: 4.5rem;
}

.logo span {
  font-weight: 400;
}

.main-nav {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.main-nav ul {
  display: flex;
  flex-direction: row;
  font-size: 2.4rem;
  font-family: var(--Font-Family-Secondary);
}

.main-nav ul li a {
  color: var(--color-third);
  margin: 0 calc(var(--dist-margin-primary) * 2);
  padding: 0.8rem;
  font-weight: 700;
  transition: 0.23s;
}

.main-nav ul li a.active,
.main-nav ul li:hover a {
  background-color: var(--color-primary);
  border-radius: var(--border-dist-primary);
  color: var(--color-text-primary-light);
}
