.Sponsors {
  display: grid;
  align-items: center;
  background-color: #e5e5e5;
  justify-content: space-evenly;
  padding: 5rem;
  grid-template-columns: repeat(8, 1fr);
  grid-gap: 2rem;
}
.sponsors-img {
  width: 60px;
  margin: 2.4rem;
}

@media (max-width: 1000px) {
  .Sponsors {
    grid-template-columns: repeat(4, auto);
  }
}

@media (max-width: 500px) {
  .sponsors-img {
    width: 40px;
  }
}

@media (max-width: 400px) {
  .sponsors-img {
    width: 30px;
  }
}
