.Cars-Slider {
  width: 90%;
  height: 660px;
}

.slick-list {
  width: 100%;
  max-height: 750px;
}

.slick-track {
  margin: 10rem;
}

.slick-slide:not(:last-child) {
  margin: 3px;
}

.slick-prev {
  left: -30px;
}

.slick-next {
  right: -30px;
}

@media (max-width: 800px) {
  .slick-slide {
    max-width: 400px !important;
  }
}
@media (max-width: 500px) {
  .slick-prev {
    left: -10px !important;
  }

  .slick-next {
    right: -10px !important;
  }
  .slick-slide {
    max-width: 340px !important;
  }
}

.Cars-Slider svg.slick-arrow {
  background: var(--color-primary);
  color: aliceblue;
  width: 30px;
  height: 30px;
  border-radius: 3rem;
  text-align: center;
  font-size: 1.4rem;
  z-index: 200;
}
