@import url("https://fonts.googleapis.com/css2?family=Lora:wght@500;700&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Nunito&display=swap");
/*
  Font-Families
  - Nunito Sans --> 400 
  - Lora        --> 500 / 700 

  Font-Size__System 
  16 / 24 / 32 / 48 / 56 / 64 / 128 px

*/
:root {
  font-size: 10px;
  --Font-Family-Primary: "Lora", serif;
  --Font-Family-Secondary: "Nunito", sans-serif;

  --color-primary: #741906;
  --color-secondary: #ebebeb;
  --color-third: #232730;

  --color-text-primary-light: #ffffff;
  --color-text-primary-dark: #232730;

  --dist-padding-primary-big: 1.5rem;
  --dist-padding-primary: 1rem;
  --dist-padding-secondary: 0.5rem;

  --dist-margin-primary: 0.5rem;

  --border-dist-primary-big: 1.5rem;
  --border-dist-primary: 0.5rem;
  --dist-gap-primary: 2.5rem;
}

body {
  margin: auto;
  font-family: var(--Font-Family-Primary);
  color: var(--color-text-primary-light);
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  scroll-behavior: smooth;
}

ul {
  list-style: none;
}

a {
  text-decoration: none;
  color: var(--color-text-primary-light);
}

section {
  padding-top: 10rem;
  background-color: var(--color-secondary);
  max-width: 100%;
}

.container {
  max-width: 144rem;
  padding: 0 8rem;
}

/* 16 / 24 / 32 / 48 / 56 / 64 / 128 px */

h1 {
  font-size: 6.4rem;
}

h2 {
  font-size: 5.6rem;
}

h3 {
  font-size: 4.8rem;
}

h4 {
  font-size: 3.2rem;
}

h5 {
  font-size: 2.4rem;
}

p {
  font-size: 2.4rem;
  margin: 3.2rem 0;
}
